#ignore
nbproject/
apple-touch-icon-precomposed.png
apple-touch-icon.png
license.txt
readme.html
wp-content/uploads
wp-content/themes/storefront
wp-content/themes/twentyfifteen
wp-content/themes/twentynineteen
wp-content/themes/twentyseventeen
wp-content/themes/twentysixteen
wp-content/themes/twentytwenty
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo
wp-config.php
wp-content/plugins/*
wp-content/ai1wm-backups

#allow
!wp-content/plugins/ulisting